body {
  background-color: lavenderblush;
}

p {
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  color: rgb(32, 32, 32);
}

h1 {
  font-size: 36px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(32, 32, 32);
}

#appointmentConfirm {
  display: none;
 }

.btn {
  display: block;
}

